.navigation {
    list-style: none;
    margin: 100px 0px 0;
    background: rgb(212, 180, 131);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
   }
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1.5em;
    color: white;
    font-size: 20px;
   }
.navigation a:hover {
    background-color: rgb(175, 139, 85);
}
   
@media all and (max-width: 800px){
   .navigation {
    justify-content:space-around;
}
}
@media all and (max-width: 800px) {
   .navigation {
    flex-flow: coloumn-wrap;
    padding: 10;
}
}
.navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(200,200,200,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
   .navigation li:last-of-type a{
    border-bottom: none;
}

.prep {
    position:relative;
    font-size:18px;
    padding: 10px;
    left: 800px;
}
   
.ingredients {
 position: relative;
 font-size: 18px;
 padding: 10px;
 left: 290px;
 margin-top: -20px;
 font-size: 20px;
}
   
.method {
 position: relative;
 font-size: 18px;
 padding: 10px;
 left: 725px;
 margin-top:250px ;
 font-size: 20px;
}
